<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cheeji Shop</title>
    <link rel="icon" type="image/jpg" href="/images/favicon.jpg">
    <link rel="stylesheet" href="/public/stylesheets/style.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    
    <style>
         /* Active Class  */
        .active {
            border-top-left-radius: 25px;
            border-bottom-left-radius: 25px;
            background-color: white;
            color: black;
        }

       @media only screen and (min-width: 430px) {
        .cart {
            height: 300px !important;
        }
      }
    </style>
</head>
<body>
      
  <!-- Message Div -->
  <div class="success w-[70%] md:w-[30%] py-3 md:py-5 top-5 md:top-8 left-1/2 fixed -translate-x-1/2 -translate-y-1/2  md:text-2xl font-semibold text-center bg-blue-300 z-50 rounded-bl-md rounded-br-md hidden">
    <h1></h1>
  </div>
  
           <!-- Header -->
          <%- include('partials/header') -%>

          <!-- Main -->
          <div class="main-content flex mt-[72px]">

            <!-- Sidebar -->
          <div class="sidebar1 w-2/3 -translate-x-full pl-3 flex flex-col gap-7 py-10 text-white bg-slate-400 h-screen fixed top-[72px] md:w-[295px] md:bg-white md:text-black md:translate-x-0 transition-all">

            <!-- First div -->
            <div class="text-[18px] pl-3 flex gap-4 text-xl">
                <h1><span><i class='bx bx-filter-alt pr-'></i></span><span class="hide1 tracking-tighter">sort by:</span></h1>
                <button class="hide1 tracking-tighter border-2 px-1 border-slate-300">Popular <i class='bx bx-chevron-down'></i></button>
            </div>
            
            <ul class="text-[18px]">
              <li class="active px-3 py-2 rounded-tl-[25px] rounded-bl-[25px] hover:bg-slate-300 active:bg-slate-300 transition-all"><a class="hide1 tracking-tighter font-semibold" href="/"><i class='bx bxs-package pr-2'></i><span>All Products</span></a></li>
                <li class="px-3 py-2 rounded-tl-[25px] rounded-bl-[25px] hover:bg-slate-300 active:bg-slate-300 transition-all"><a class="hide1 tracking-tighter" href=""><i class='bx bx-collection pr-2'></i><span>New Collection</span></a></li>
                <li class="px-3 py-2 rounded-tl-[25px] rounded-bl-[25px] hover:bg-slate-300 active:bg-slate-300 transition-all"><a class="hide1 tracking-tighter" href=""><i class='bx bxs-discount pr-2'></i><span>Discounted Products</span></a></li>
                <li id="sidebarCart" class="px-3 py-2 rounded-tl-[25px] rounded-bl-[25px] hover:bg-slate-300 active:bg-slate-300 transition-all"><a href="/cart"><i class='bx bx-cart pr-2'></i><span>Cart</span></a></li>
            </ul>

            <ul class="hide1 text-[18px]">
                <li class="pl-3 py-1 tracking-tighter rounded-tl-[25px] rounded-bl-[25px] hover:bg-slate-300 active:bg-slate-300 transition-all"><a href="">Filter by:</a></li>
                <li class="pl-3 py-1 tracking-tighter rounded-tl-[25px] rounded-bl-[25px] hover:bg-slate-300 active:bg-slate-300 transition-all"><a href="">Availability:</a></li>
                <li class="pl-3 py-1 tracking-tighter rounded-tl-[25px] rounded-bl-[25px] hover:bg-slate-300 active:bg-slate-300 transition-all"><a href="">Discount:</a></li>
            </ul>
            
          </div>



            <!-- Main-body -->
            <div class="main-body1 w-full flex flex-wrap flex-col gap-10 px-8 py-10 md:w-[calc(100%-295px)] md:ml-auto md:pr-8 md:pl-0 md:gap-5 md:flex-row">

              <% if(!products.length){ %>
                     
                <div class="w-full h-[70vh] flex items-center justify-center text-3xl font-semibold md:font-bold md:text-5xl text-slate-400"><h1>No Products Avaliable</h1></div>
                  
              <% } else {  %>
                
              <% products.forEach (function(product){  %>

                 <!-- Cart1 -->
                 <div class="cart w-full h-56 md:w-[220px]  bg-[<%= product.
                 bgcolor %>] rounded-md shadow-xl">
                  
                 <div class="w-full h-[70%]">
                  <img class="w-full h-full px-5" src="data:image/jpeg;base64,<%= product.image.toString('base64') %>" alt="Image">
                 </div>
                       
                <!-- Sub Div -->
                <div class="w-full h-[30%] px-3 flex items-center justify-between bg-[<%= product.
                panelcolor %>] text-[<%= product.textcolor %>] rounded-md">
                  <div class="w-full">
                   <div class="pt-1 md:pt-0 px-1 md:px-0 w-full flex justify-between items-center">
                   <h1><%= product.name %></h1>
                   <i data-id="<%= product._id %>" class='addToCart px-2 py-1 bg-white rounded-full text-xl bx bx-plus text-black active:bg-blue-500 cursor-pointer'></i>
                 </div>
                   <div class="flex md:pt-2">
                    <h1>PKR <%= product.price %></h1>
                  <%  if(product.discount > 0) {     %>
                    <p class="ml-2 px-3 bg-[<%= product.textcolor %>] text-[<%= product.panelcolor %>] rounded-full"><%= product.discount %>%</p>
                 <% } %>
                   </div>  
                  </div>
                 
                </div>

                </div>
                 <% }) } %> 
            </div>
    
          </div>
          <!-- Main-ContentEnds -->

          <!-- Attaching the JavaScript files -->
          <script src="/javascripts/script.js"></script>
          <script src="/javascripts/api.js"></script>

           
          
</body>
</html>